 @import "tailwindcss"; 

:root {
  --background: linear-gradient(to right, #c8dce5 0%, #b6ccda 100%);
  --white-color: white;
  --accent-color: #b6ccda;
  /* --foreground: #171717; */
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.grid-container {
  display: grid;
  grid-template-columns: 1.5fr 1fr 0.1fr;
  grid-template-rows: repeat(4, 1fr);
  height: 95vh;
}

/******************** Navbar ************************/

.navbar {
  display: grid;
  grid-column: 1 / -1;
  grid-row: 1;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 1em;
}

.nav-links {
  display: flex;
  place-self: center;
  gap: 40px;
  grid-column: 2;
  grid-row: 1;
  margin-top: 0.5rem;
  }

  .nav-links li {
    list-style: none;
  }

  .nav-links li a {
    text-decoration: none;
    color: var(--white-color);
    font-weight: bold;
    font-size: 1em;
    padding: 8px 36px;
    border-radius: 20px;
  }


.nav-links li a:hover {
  background-color: var(--white-color);
  color: var(--accent-color);
  transition: 0.3s;
}

.searchbuy-icons {
  grid-column: 3;
  grid-row: 1;
  place-self: start end;
  display: flex;
  gap: 8px;
}

.searchbuy-icons .vertical-line {
  width: 1px;
  height: 30px;
  background: var(--white-color);
  border-radius: 1px;
}

/******************** Tekst og stort billede ************************/

/* .perfect-moment {
  display: grid;
  grid-column: 1 / -1;
  grid-row: 2;
  margin: 0;
  color: var(--white-color);
  margin-left: 2em;
  margin-top: 3em;
  line-height: 1.5;

  h1 {
    grid-column: 1;
    font-size: 4.5em;
    margin: 0;
    font-weight: bold;
  }

  h2 {
    grid-column: 1;
    grid-row: 2;
    font-size: 4em;
    margin: 0;
    font-weight: normal;
  }
} */

/* .watch-section {
 grid-column: 3 / 4;
 grid-row: 1 / span 2;
 place-self: center;
} */

/********************** Cirkler ************************/
.watch-indicators {
  grid-column: 4;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.indicator {
  width: 30px;
  height: 30px;
  border-radius: 28px;
  display: block;
  border: 2px solid transparent;
  cursor: pointer;
}

.indicator.navy  { background: rgba(67, 69, 88, 0.6); }
.indicator.mint  { background: rgba(106, 221, 204, 0.6); }
.indicator.pink { background: rgba(249, 205, 196, 0.6); }

.connector {
  width: 8px;                 /* hvor bredt 'prikfelt' er (kan være lille) */
  height: 28px;               /* hvor lang connectoren er */
  background-image: radial-gradient(circle, var(--white-color) 40%, transparent 41%);
  background-size: 6px 6px;   /* prik-størrelse */
  background-repeat: repeat-y; /* gentag lodret */
  background-position: center;
  opacity: 0.95;
}

.indicator.navy:hover, 
.indicator.mint:hover, 
.indicator.pink:hover {
  border-color: var(--white-color);
  transition: border-color 0.3s;
}

.indicator.active {
    border-color: var(--white-color);
    /* Du kan også tilføje andre styles for den aktive tilstand */
    transform: scale(1.1);  /* Gør cirklen lidt større */
}

/******************** Knap ************************/

/* .btn-buy-now {
  grid-column: 1;
  grid-row: 2;
  background-color: var(--background);
  color: var(--white-color);
  border: 5px solid var(--white-color);
   padding: 10px 10px; 
  border-radius: 4em;
  font-size: 1.3em;
  cursor: pointer;
  height: 65px;
  width: 230px;
  margin-left: 1em;
}

.btn-buy-now:hover {
  background-color: var(--white-color);
  color: var(--accent-color);
  transition: 0.3s;
} */

/******************** Watches ************************/

.watches-section {
  display: flex;
  /* grid-column: 2 / 3;
  grid-row: 3 / 4; */
  place-self: end center;
  gap: 40px;
  padding-bottom: 2em;
  cursor: pointer;
}

.navywatch {
  position: relative;
}
.navywatch::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -10px;
  right: -10px;
  height: 75%;
  background-color: rgba(67, 69, 88, 0.6);
  border-radius: 10px;
  z-index: -1;
}

.mintwatch {
  position: relative;
}
.mintwatch::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -10px;
  right: -10px;
  height: 75%;
  background-color: rgba(106, 221, 204, 0.6);
  border-radius: 10px;
  z-index: -1;
}

.oceanwatch {
  position: relative;
}
.oceanwatch::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -10px;
  right: -10px;
  height: 75%;
  background-color: rgba(249, 205, 196, 0.6);
  border-radius: 10px;
  z-index: -1;
}

.navywatch img:hover,
.mintwatch img:hover,
.oceanwatch img:hover {
  transform: scale(1.1);
  transition: transform 0.3s;
}